<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" th:href="@{/css/formUser.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<meta http-equiv="refresh" content="2">
<title>Cuenta</title>
</head>
<body>

	<header th:replace="comun/header.html::header"></header>
	<h1 sec:authorize="hasAuthority('CLIENTE')">Cuenta</h1>
	<h1 sec:authorize="hasAuthority('GERENTE')">Pedido</h1>
	

	<div th:if="${productosServidos!=null and !productosServidos.isEmpty()}">

		<table id="customers">
			<h2>Servido</h2>
			<br>
			<tr>
				<th style="width: 18.75%">Nombre</th>
				<th style="width: 18.75%">Cantidad</th>
				<th style="width: 18.75%">Precio unitario</th>
				<th style="width: 18.75%">Servido</th>
			</tr>
			<tr  th:each="producto : ${productosServidos}">
				<td style="width: 18.75%" th:text="${producto.nombre}"></td>
				<td style="width: 18.75%" th:text="${producto.cantidad}"></td>
				<td style="width: 18.75%" th:text="${producto.precio}"></td>
				<td style="width: 18.75%" th:text="${producto.servido}"></td>
			</tr>
			<tr style="background-color:#f2f2f2;">
				<td style="border: 0px;"></td>
				<td style="float:right; border: 0px;">Total</td>
				<td style="width: 18.75%; border: 0px;" th:text="${precioTotalServido}"></td>
			</tr>
		</table>
		
	</div>
	
	<a sec:authorize="hasAuthority('CLIENTE')" class="button">Solicitar cuenta</a>		
	<a target="_blank" th:href="@{/mesas/cuenta/} + ${idMesa}">Exportar a PDF</a>	
	
	<div th:if="${productosNoServidos!=null and !productosNoServidos.isEmpty()}">
	<br><br><br><br>
		<table id="customers">
		<h2>No servido</h2>
			<br>
			<tr>
				<th style="width: 18.75%">Nombre</th>
				<th style="width: 18.75%">Cantidad</th>
				<th style="width: 18.75%">Precio unitario</th>
				<th style="width: 18.75%">Servido</th>
				<th sec:authorize="hasAuthority('GERENTE')" style="width: 18.75%">Opciones</th>
			</tr>
			<tr  th:each="producto : ${productosNoServidos}">
				<td style="width: 18.75%" th:text="${producto.nombre}"></td>
				<td style="width: 18.75%" th:text="${producto.cantidad}"></td>
				<td style="width: 18.75%" th:text="${producto.precio}"></td>
				<td style="width: 18.75%" th:text="${producto.servido}"></td>
				<td sec:authorize="hasAuthority('GERENTE')">
					<a class=center-button th:href="@{/pedido/servir/} + ${idNegocio} + '/' + ${idMesa} + '/' + ${producto.id} ">Servido</a>
				</td>
			</tr>
		</table>	
	</div>
	
