<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" th:href="@{/css/formUser.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Tus negocios</title>
</head>
<body>

	<header th:replace="comun/header.html::header"></header>
	<h1>Negocios</h1>

	<table id="customers">
		<tr>
			<th>CIF</th>
			<th>Nombre</th>
			<th>Productos</th>
		</tr>
		<tr th:each="negocio : ${negocios}">
			<td th:text="${negocio.cif}"></td>
			<td th:text="${negocio.nombre}"></td>
			<td><a class=center-button th:href="@{/listarProductos/} + ${negocio.id}">Listar productos</a>
				<a class=center-button th:href="@{/mesas/} + ${negocio.id}">Mesas</a>
				<a class=center-button th:href="@{/pedidos/} + ${negocio.id}">Registro de pedidos</a>
				<a class=center-button th:href="@{/editarNegocio/} + ${negocio.id}">Detalles</a></td>
		</tr>

	</table>

</body>
</html>
