<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" th:href="@{/css/formUser.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<title>Tus negocios</title>
</head>
<body>

	<header th:replace="comun/header.html::header"></header>
	<h1>Lista de tus negocios registrados en el sistema</h1>

	<table id="customers">
		<tr>
			<th>CIF</th>
			<th>Nombre</th>
			<th>Localización</th>
			<th>Tipo</th>
			<th>Productos</th>
		</tr>
		<tr th:each="negocio : ${negocios}">
			<td th:text="${negocio.cif}"></td>
			<td th:text="${negocio.nombre}"></td>
			<td th:text="${negocio.localizacion}"></td>
			<td th:text="${negocio.tipo}"></td>
			<td><a class=center-button th:href="@{/listarProductos/} + ${negocio.id}">Listar productos</a></td>
		</tr>

	</table>

</body>
</html>
