<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/css/formUser.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>    
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script> 
<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/sw.js');
        });
    }
</script>
<link rel="manifest"  th:href="@{/manifest.webmanifest}">
	
<title>Bares disponibles</title>
</head>
<body>

	<header th:replace="comun/header.html::header"></header>		
	<div id="map" style="z-index: -1;" class="map-style"></div>
	<script>
		var coords = [37.47254112573115, -5.638665440677341]; // the geographic center of our map
		var zoomLevel = 17; // the map scale. See: http://wiki.openstreetmap.org/wiki/Zoom_levels
		
		var map = L.map('map').setView(coords, zoomLevel);
		

		
		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		    maxZoom: 25,
		    attribution: '© OpenStreetMap'
		}).addTo(map);
		
		let geojson_url = "https://gbweb-tfg.herokuapp.com/api/negocios";
		
		fetch(
				geojson_url
			).then(
				res => res.json()
			).then(
				data=> {
					   let mygeojson = {"type": "FeatureCollection", "features": []}

					    for(let point of data){
					      let coordinate = [parseFloat(point.longitud), parseFloat(point.latitud)];
					      let properties = point;
					      delete properties.longitude;
					      delete properties.latitude;          
					      let feature = {"type": "Feature", "geometry": {"type": "Point", "coordinates": coordinate}, "properties": properties}
					      mygeojson.features.push(feature);
					    }
					   let geojsonlayer = L.geoJson(mygeojson,{
							onEachFeature: function(feature, layer){
								layer.bindPopup('<h2>'+layer.feature.properties.nombre+'</h2>'+'<br>'+'<h5>'+layer.feature.properties.descripcion+'</h5>'+'<br><br><br>'+'<a href="/listarProductos/'+layer.feature.properties.id+'"><button class="center-button">Ver carta</button></a>')
							}
						}).addTo(map)
					  console.log(mygeojson);
				}
			)
	</script>

	

</body>
</html>
