<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" th:href="@{/css/formUser.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta http-equiv="refresh" content="3">
<title>Eliminar mesas</title>
</head>

<body>

	<header th:replace="comun/header.html::header"></header>


	<div>
	<br><br>
	<h1>Ups no puedes hacer eso, ve al <a href="/">inicio</a></h1>
	</div>

</body>
</html>