<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" th:href="@{/css/formUser.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Productos</title>
</head>

<body>

	<header th:replace="comun/header.html::header"></header>
	
	
	<div th:if="${usuario.mesa.codigo} == ${codigoMesa}">
		<div>
			<h1 th:text="${nombreNegocio}"></h1>
		</div>
		<a class="back-button" th:href="@{/listarNegocios}">Volver</a>
		<a sec:authorize="hasAuthority('GERENTE')" class="button" th:href="@{/añadirProducto/} + ${idNegocio}">Añadir producto</a>
		<a th:if="${usuario.mesa!=null}" sec:authorize="hasAuthority('CLIENTE')" class="button" th:href="@{/mesas/estado/} + ${idNegocio}">Mi mesa</a>
		<a th:if="${usuario.mesa!=null}" sec:authorize="hasAuthority('CLIENTE')" class="button" th:href="@{/pedido/negocio/} + ${idNegocio}+@{/mesa/}+${usuario.mesa.id}">Confirmar pedido</a>	
		<a th:if="${usuario.mesa!=null}" sec:authorize="hasAuthority('CLIENTE')" class="button" th:href="@{/pedido/cuenta/} + ${idNegocio}+@{/mesa/}+${usuario.mesa.id}">Cuenta total</a>	
			
		<div th:if="${snack!=null and !snack	.isEmpty()}">
		<br><br><br>
		<table id="customers">
			
			<tr>
			<h2>Snacks</h2>
				<br>
			</tr>
			<tr th:each="producto : ${snack}">
				<td style="width: 18.75%" th:text="${producto.nombre}"></td>
				<td style="width: 18.75%" th:text="${producto.precio}"></td>
				<td style="width: 18.75%" sec:authorize="hasAuthority('GERENTE')"  th:text="${producto.visibilidad}"></td>
				<td style="width: 30%" sec:authorize="hasAuthority('GERENTE')"><a class=center-button
					th:href="@{/editarProducto/} + ${idNegocio} + '/' + ${producto.id}">Editar</a>
					<a class=center-button
					th:href="@{/eliminarProducto/} + ${idNegocio} + '/' + ${producto.id}">Eliminar</a>
					<a class=center-button
					th:href="@{/cambiarVisibilidad/} + ${idNegocio} + '/' + ${producto.id}">Cambiar visibilidad</a></td>
				<td>
					<form th:action="@{/añadirAlPedido/pedir/}+ ${idNegocio} +'/mesa/'+ ${idMesa} +'/producto/' + ${producto.id}" 
						th:object="${cantidad}" method="post">
						<input type="number" name="cantidad" placeholder="Cantidad"/>
						<button type="submit">Añadir producto</button>
					</form>

				</td>
			</tr>
	
		</table>
		</div>
		
		<div th:if="${racion!=null and !racion.isEmpty()}">
		<br><br><br>
		<table id="customers">
			
			<tr>
			<h2>Raciones</h2>
				<br>
			</tr>
			<tr th:each="producto : ${racion}">
				<td style="width: 18.75%" th:text="${producto.nombre}"></td>
				<td style="width: 18.75%" th:text="${producto.precio}"></td>
				<td style="width: 18.75%" sec:authorize="hasAuthority('GERENTE')" th:text="${producto.visibilidad}"></td>
				<td style="width: 30%" sec:authorize="hasAuthority('GERENTE')"><a class=center-button
					th:href="@{/editarProducto/} + ${idNegocio} + '/' + ${producto.id}">Editar</a>
					<a class=center-button
					th:href="@{/eliminarProducto/} + ${idNegocio} + '/' + ${producto.id}">Eliminar</a>
					<a class=center-button
					th:href="@{/cambiarVisibilidad/} + ${idNegocio} + '/' + ${producto.id}">Cambiar visibilidad</a></td>
				<td>
					<form th:action="@{/añadirAlPedido/pedir/}+ ${idNegocio} +'/mesa/'+ ${idMesa} +'/producto/' + ${producto.id}" 
						th:object="${cantidad}" method="post">
						<input type="number" name="cantidad" placeholder="Cantidad"/>
						<button type="submit">Añadir producto</button>
					</form>

				</td>
			</tr>
	
		</table>
		</div>
		
		<div th:if="${media!=null and !media.isEmpty()}">
		<br><br><br>
		<table id="customers">
			
			<tr>
			<h2>Medias</h2>
				<br>
			</tr>
			<tr th:each="producto : ${media}">
				<td style="width: 18.75%" th:text="${producto.nombre}"></td>
				<td style="width: 18.75%" th:text="${producto.precio}"></td>
				<td style="width: 18.75%" sec:authorize="hasAuthority('GERENTE')"  th:text="${producto.visibilidad}"></td>
				<td style="width: 30%" sec:authorize="hasAuthority('GERENTE')"><a class=center-button
					th:href="@{/editarProducto/} + ${idNegocio} + '/' + ${producto.id}">Editar</a>
					<a class=center-button
					th:href="@{/eliminarProducto/} + ${idNegocio} + '/' + ${producto.id}">Eliminar</a>
					<a class=center-button
					th:href="@{/cambiarVisibilidad/} + ${idNegocio} + '/' + ${producto.id}">Cambiar visibilidad</a></td>
				<td>
					<form th:action="@{/añadirAlPedido/pedir/}+ ${idNegocio} +'/mesa/'+ ${idMesa} +'/producto/' + ${producto.id}" 
						th:object="${cantidad}" method="post">
						<input type="number" name="cantidad" placeholder="Cantidad"/>
						<button type="submit">Añadir producto</button>
					</form>

				</td>
			</tr>
	
		</table>
		</div>
		
		<div th:if="${tapa!=null and !tapa.isEmpty()}">
		<br><br><br>
		<table id="customers">
			
			<tr>
			<h2>Tapas</h2>
				<br>
			</tr>
			<tr th:each="producto : ${tapa}">
				<td style="width: 18.75%" th:text="${producto.nombre}"></td>
				<td style="width: 18.75%" th:text="${producto.precio}"></td>
				<td style="width: 18.75%" sec:authorize="hasAuthority('GERENTE')"  th:text="${producto.visibilidad}"></td>
				<td style="width: 30%" sec:authorize="hasAuthority('GERENTE')"><a class=center-button
					th:href="@{/editarProducto/} + ${idNegocio} + '/' + ${producto.id}">Editar</a>
					<a class=center-button
					th:href="@{/eliminarProducto/} + ${idNegocio} + '/' + ${producto.id}">Eliminar</a>
					<a class=center-button
					th:href="@{/cambiarVisibilidad/} + ${idNegocio} + '/' + ${producto.id}">Cambiar visibilidad</a></td>
				<td>
					<form th:action="@{/añadirAlPedido/pedir/}+ ${idNegocio} +'/mesa/'+ ${idMesa} +'/producto/' + ${producto.id}" 
						th:object="${cantidad}" method="post">
						<input type="number" name="cantidad" placeholder="Cantidad"/>
						<button type="submit">Añadir producto</button>
					</form>

				</td>
			</tr>
	
		</table>
		</div>
		
		<div th:if="${refrescos!=null and !refrescos.isEmpty()}">
		<br><br><br>
		<table id="customers">
			
			<tr>
			<h2>Refrescos</h2>
				<br>
			</tr>
			<tr th:each="producto : ${refrescos}">
				<td style="width: 18.75%" th:text="${producto.nombre}"></td>
				<td style="width: 18.75%" th:text="${producto.precio}"></td>
				<td style="width: 18.75%" sec:authorize="hasAuthority('GERENTE')"  th:text="${producto.visibilidad}"></td>
				<td style="width: 30%" sec:authorize="hasAuthority('GERENTE')"><a class=center-button
					th:href="@{/editarProducto/} + ${idNegocio} + '/' + ${producto.id}">Editar</a>
					<a class=center-button
					th:href="@{/eliminarProducto/} + ${idNegocio} + '/' + ${producto.id}">Eliminar</a>
					<a class=center-button
					th:href="@{/cambiarVisibilidad/} + ${idNegocio} + '/' + ${producto.id}">Cambiar visibilidad</a></td>
				<td>
					<form th:action="@{/añadirAlPedido/pedir/}+ ${idNegocio} +'/mesa/'+ ${idMesa} +'/producto/' + ${producto.id}" 
						th:object="${cantidad}" method="post">
						<input type="number" name="cantidad" placeholder="Cantidad"/>
						<button type="submit">Añadir producto</button>
					</form>

				</td>
			</tr>
	
		</table>
		</div>
		
		<div th:if="${alcohol!=null and !alcohol.isEmpty()}">
		<br><br><br>
		<table id="customers">
			
			<tr>
			<h2>Bebidas alcohólicas</h2>
				<br>
			</tr>
			<tr th:each="producto : ${alcohol}">
				<td style="width: 18.75%" th:text="${producto.nombre}"></td>
				<td style="width: 18.75%" th:text="${producto.precio}"></td>
				<td style="width: 18.75%" sec:authorize="hasAuthority('GERENTE')"  th:text="${producto.visibilidad}"></td>
				<td style="width: 30%" sec:authorize="hasAuthority('GERENTE')"><a class=center-button
					th:href="@{/editarProducto/} + ${idNegocio} + '/' + ${producto.id}">Editar</a>
					<a class=center-button
					th:href="@{/eliminarProducto/} + ${idNegocio} + '/' + ${producto.id}">Eliminar</a>
					<a class=center-button
					th:href="@{/cambiarVisibilidad/} + ${idNegocio} + '/' + ${producto.id}">Cambiar visibilidad</a></td>
				<td>
					<form th:action="@{/añadirAlPedido/pedir/}+ ${idNegocio} +'/mesa/'+ ${idMesa} +'/producto/' + ${producto.id}" 
						th:object="${cantidad}" method="post">
						<input type="number" name="cantidad" placeholder="Cantidad"/>
						<button type="submit">Añadir producto</button>
					</form>

				</td>
    			
			</tr>
	
		</table>
		</div>
		<br><br><br>	
	
	
	</div>
	<div th:if="${usuario.mesa.codigo} != ${codigoMesa}">
		<h1>Este pedido no corresponde a tu mesa, por favor solicite una y espere.</h1><br>
		<h1>¡Gracias!</h1>
	</div>

</body>
</html>