<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" th:href="@{/css/formUser.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<title>Productos</title>
</head>

<body>

	<header th:replace="comun/header.html::header"></header>
	<div>
		<h1 th:text="${nombreNegocio}"></h1>
	</div>
			<a class="back-button" th:href="@{/listarNegocios}">Volver</a>
			<a class="button" th:href="@{/añadirProducto/} + ${idNegocio}">Añadir producto</a>
			
	<table id="customers">
		<tr>
			<th>Nombre</th>
			<th>Precio</th>
			<th>Tipo</th>
			<th>Opciones</th>
		</tr>
		<tr th:each="producto : ${productos}">
			<td th:text="${producto.nombre}"></td>
			<td th:text="${producto.precio}"></td>
			<td th:text="${producto.tipo}"></td>
			<td></td>
		</tr>

	</table>

</body>
</html>
